*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
    color: #fff;
    padding: 1vw;
    box-sizing: border-box;
    font-family: "Golos Text",sans-serif;
}
h1{
    margin-bottom: 1vw;
    margin-left: 2vw;
}
.btn {
    display: block;
    padding: 10px 20px;
    margin-left: 2vw;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

.btn:active {
    background-color: #3e8e41;
}

